<html>
<body>
    <p>
    <div>
        <span>{{ pokemon.id }}</span>
        <span>{{ pokemon.name }}  </span>
        <span>{{ pokemon.type }}  </span>
        <span>{{ pokemon.attack }}</span>
    </div>
    <form method="POST" action="/delete">
        {{ form.csrf_token }}
        <input id="id" name="id" type="hidden" value="{{ pokemon.id }}">
        <input type="submit" value="delete"/>
    </form>
    </p>
<hr>
<form method="POST" action="/update/{{ pokemon.id }}">
    {{ form.csrf_token }}
    <p>
        {{ form.name.label }}
        {{ form.name() }}<br>
        {{ form.type.label }}
        {{ form.type() }}<br>
        {{ form.attack.label }}
        {{ form.attack() }}<br>
    </p>
    <p>
        <input type="submit" value="Update Pokemon">
    </p>
</form>
</body>
</html>
