<html>
<body>
{% for pokemon in pokemons %}
    <p>
    <div>
        <span>{{ pokemon.name }}  </span><span>{{ pokemon.type }}  </span><span>{{ pokemon.attack }}</span>
    </div>
    <form method="POST" action="{{ url_for('delete_pokemon') }}">
        {{ form.csrf_token }}
        <input id="id" name="id" type="hidden" value="{{ pokemon.id }}">
        <input type="submit" value="delete"/>
    </form>
    </p>
{% endfor %}
<hr>
<form method="POST" action="{{ url_for('add_comment') }}">
    {{ form.csrf_token }}
    <p>
        {{ form.name.label }}
        {{ form.name() }}<br>
        {{ form.type.label }}
        {{ form.type() }}<br>
        {{ form.attack.label }}
        {{ form.attack() }}<br>
    </p>
    <p>
        <input type="submit" value="Add Pokemon">
    </p>
</form>
</body>
</html>
