<html>
<body>
{% for pokemon in pokemons %}
    <p>
    <div>
        <span>{{ pokemon.id }}</span>
        <span>{{ pokemon.name }}  </span>
        <span><a href="/detail/{{ pokemon.id }}">detail</a></span>
    </div>
    </p>
{% endfor %}
<hr/>
<form method="POST" action="{{ url_for('add_pokemon') }}">
    {{ form.csrf_token }}
    <p>
        {{ form.name.label }}
        {{ form.name() }}<br>
        {{ form.type.label }}
        {{ form.type() }}<br>
        {{ form.attack.label }}
        {{ form.attack() }}<br>
    </p>
    <p>
        <input type="submit" value="Add Pokemon">
    </p>
</form>
<hr/>
<div>
    <a href="/search">Search Pokemon</a>
</div>
</body>
</html>
